/* CSS Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto Condensed";
}

#landing-letter {
	font-size: 33vw;
	font-family: "Pacifico";
}

#nav-wt {
	font-family: "Pacifico";

}
